$pink: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkRed: hsl(0, 6%, 24%);
$firstGrad: linear-gradient(135deg, white 0%, #ff9090 100%);
$secondGrad: linear-gradient(
  135deg,
  hsl(0, 80%, 86%) 0%,
  hsl(0, 74%, 74%) 100%
);
body {
  font-family: "Josefin Sans", sans-serif;
}

.landing {
  .text {
    background-image: url(../images/bg-pattern-desktop.svg);
    flex: 2;
    .mobImage {
      margin: 0;
      margin-bottom: 50px;
    }
    .logo {
      margin: 100px 0 150px;
      margin-left: 150px;
      @media (max-width: 375px) {
        margin: 30px;
      }
    }
    .info {
      margin-left: 150px;
      @media (max-width: 375px) {
        margin: 0;
      }
      h1 {
        font-size: 70px;
        line-height: 1;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: $darkRed;
        @media (max-width: 375px) {
          font-size: 40px;
        }
        span {
          color: $pink;
          font-weight: 200;
        }
      }
      p {
        width: 360px;
        color: $pink;
      }
      form {
        position: relative;
        // overflow: hidden;
        display: inline-block;
        @media (max-width: 375px) {
          margin: 30px 0 150px;
          border-radius: 30px;
          z-index: 1000;
        }
      }
      input {
        width: 360px;
        height: 50px;
        padding-left: 20px;
        outline: none;
        border: 1px solid $pink;
        border-radius: 30px;
        color: $darkRed;
        @media (max-width: 375px) {
          width: 320px;
        }
        &.invalid {
          border-color: $softRed;
        }
      }
      .img {
        background-image: $secondGrad;
        width: 100px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 72.6%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.5s;
        img {
          width: 10px;
        }
        &:hover {
          background-image: $firstGrad;
        }
      }
    }
  }
}
form.invalid::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  top: 12px;
  left: 64%;
}
.validation {
  display: none;
  padding-left: 20px;
  color: $softRed;
}
